<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

		<title>Jumbotron Template for Bootstrap</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="jumbotron.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">H2Osafe</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">About</a></li>
	                    <li><a href="#">Team</a></li>
	                    </ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>H2Osafe</h1>
				<p>
					The goal of H2Osafe is to inform citizens of water contaminations in their area and action on it by contacting their representatives.
				</p>
			</div>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-12">
					<h2> What am I seeing on the search results ? </h2>
					<p>
						In the US, 85% of population is served water through a public water system (PWS). The rest 15% use private sources of water like wells etc. 
						Congress passed the Safe Drinking Water Act (SDWA) in 1974 to protect the quality of American drinking water by regulating the nation’s public drinking water supply.
						Each PWS is checked for over 90 different contaminants like nitrate, arsenic etc and any violation in the contaminant level is reported to the public. 
						h2oSafe has compiled this information for each county and have ranked them in their state.
					</p>
					<h2> What is a PWS (Public Water System) ? What does it have to do with water in my tap ? </h2>
					<p>
						A PWS is one that serves piped water to at least 25 persons or 15 service connections for at least 60 days each year.
						The source of water for a PWS is either
						<ol> 
							<li> Groundwater </li> 
							<li> Surface water like rivers, lakes and reservoirs </li>
						</ol>  
						Although most of the PWS use groundwater as their source (127,000 PWS uses groundwater in comparison to 13,000 that uses surface water)
						, most of population is served through surface water 209.4 million compared to 97.5 million served through groundwater.
						<img src="/static/images/PWS_workflow.png" class="img-rounded" />
					</p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2>Heading</h2>
					<p>
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
				</div>
				<div class="col-md-6">
					<h2>Heading</h2>
					<p>
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
				</div>
			</div>

			<hr>

			<footer>
				<p>
					&copy; Company 2013
				</p>
			</footer>
		</div>
		<!-- /container -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
