<!DOCTYPE html>
<html>
	<head>
		<title> WaterSafe </title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-45447437-1', 'ec2-54-204-184-187.compute-1.amazonaws.com');
			ga('send', 'pageview');

		</script>
	</head>

	<body>
		<div class="logo">
			<img src="/static/images/logo-main.png" alt="WaterSafe" />
		</div>

		<div id="search-form">
			<div class="fields">
				<form action="./results" method="POST">
					{% csrf_token %}
					<input type="text" name="address" id="address" placeholder="Enter your address eg: 1 infinite loop cupertino ca 95014 " />
					<br />
					<br />

					<div class="right">
						<input type="submit" class="hows-the-water" value="How's My Water?" />
					</div>
					<br style="clear-right" />
				</form>
			</div>
		</div>

		<footer>
			<div class="navbar navbar-fixed-bottom" align="center">
				<p> <a href="/aboutus"> About us </a></p>
			</div>
		</footer>
	</body>
</html>
